<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="IssuerToken" value="Salud S.A." />
    <add key="ClientId" value="4f5aa72bbd3949239d89078ab2bc72f2" />
    <add key="SecretKey" value="8RvpxNVy7PvaGvDN4MzlEFFlbM0mexRJ2X7b-0W5rlE" />
    <add key="UriGestionDocumentos" value="http://desarrollo.servicios.saludsa.com.ec/ServicioGestionDocumentos" />
    <!--<add key="UriGestionDocumentos" value="http://localhost:49202/" />-->
    <add key="ApiBuscar" value="api/Contenido/Buscar" />
    <add key="ApiCargar" value="api/Contenido/Cargar" />
    <add key="ApiActualizar" value="api/Contenido/Actualizar" />
    <add key="ApiEliminar" value="api/Contenido/Eliminar" />
  </appSettings>
  <connectionStrings>
    <add name="bdd_saludsa_parametros" connectionString="data source=salud46.saludsa.com.ec;initial catalog=Saludsa;user id=saludsa;password=Sa1ud5a;Multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/EjemploMFile.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyy-MM-dd"/>
      <preserveLogFileNameExtension value="true"/>
      <maximumFileSize value="1MB"/>
      <maxSizeRollBackups value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-5level] lin:%-4line %-30.30type %-30.30method | %message%newline"/>
      </layout>
      <securityContext type="log4net.Util.WindowsSecurityContext">
        <credentials value="Process"/>
      </securityContext>
      <staticLogFileName value="true"/>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="GeneralLog"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>